.gift-fill{
    width: 95%;
    height: 260.6px;
    margin-top: 50px;
    margin-right: 25px !important;
    margin-bottom: 100px !important;
    margin-left: 25px !important;
    background-image: url(https://wpbingosite.com/wordpress/bootin/wp-content/uploads/2019/04/banner3-6.jpg?id=7797);
}
.gift-container{
    padding-left: 0;
    height: 260.6px;
    padding-right: 0;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
@media only screen and (min-width: 768px){
    .gift-container{
        width: 100%;
        float: left;
    }
}
.gift-inner{
    height: 260.6px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    padding-top: 0px !important;
}
.gift-wrapper{
    height: 160.6px;
}
.gift-text{
    height: 160.6px;
    margin: 50px 0 50px 60px !important;
}
.gift-per{
    margin-bottom: 0;
    height: 160.6px;
}
.gift-h2{
    text-align: left;
    font-size: 35px;
    color: #2b2b2b;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 1.3;
    font-family: Merriweather, serif;
    display: block;
}
.gift-p{
    text-align: left;
    margin-bottom: 0;
    text-transform: capitalize;
    margin: 0 0 12px;
    height: 114px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #666;
    font-family: Muli, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.gift-a{
    margin-bottom: 0;
    color: #fff;
    line-height: 45px;
    padding: 0 35px;
    text-transform: capitalize;
    font-style: 14px;
    margin-top: 45px;
    font-weight: 600;
    background: #f86d72;
    display: inline-block;
    box-shadow: 0 13px 29.4px .6px rgba(43, 43, 43, .25);
    text-decoration: none;
}
.gift-a:hover{
    background: red;
    color: #fff;
}