.contact-main{
    background: 0 0;
    padding-top: 0;
    padding-bottom: 150px;
    width: 100%;

}
.contact-title{
    background-image: url(https://wpbingosite.com/wordpress/bootin/wp-content/uploads/2019/05/Breadcumd.jpg);
    margin: 0 0 100px;
    font-size: 20px;
    background-position: 50%;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
}
.contact-page{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}
.contact-h1{
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 45px;
    color: #2b2b2b;
    font-weight: 700;
    font-family: Merriweather, serif;
    /* line-height: 1.3;
    margin: .67em 0; */
}
.contact-breadcrumb{
    -webkit-border-radius: 0;
    margin: 0;
    color: #f86d72;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}
.contact-bwp{
}
.contact-a{
    color: #666;
    position: relative;
    text-decoration: none;
}
.contact-delimiter{
    margin: 0 8px;
}
.contact-slash{
    /* width: 1px;
    height: 13px;
    background: #666;
    display: inline-block;
    transform: rotate(17deg); */
    color: #6c757d;
    
}
.contact-current{
    color: #f86d72;
    font-size: 18px;
    font-weight: 400;
}
.contact-container{
    width: 78,13%;
    height: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}
.contact-row{
    margin-left: -78px;
    margin-right: -15px;
}
.contact-col{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.contact-main-conten{

}
.contact-primary{

}
.contact-site{

}
.contact-post{
    margin-bottom: 0 !important;
    display: block;
    display: block;
    unicode-bidi: isolate;
}
.contact-entry{
    counter-reset: footnotes;
}
.contact-true{
    position: relative;
    left: -95.3333px;
    box-sizing: border-box;
    width: 1691px;
    padding-left: 95.3333px;
    padding-right: 95.6667px;
}
.contact-column{
    padding-left: 0;
    padding-right: 0;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    left: 200px;
}
.contact-inner{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.contact-wbp-wrapper{

}
.contact-text{
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid hsla(0, 0%, 56%, .2);
    text-align: left;
}
.contact-wrapper{
    margin-bottom: 0;
}
.contact-address{
    margin-bottom: 10px;
    margin-top: 0;
    font-family: Muli, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #2b2b2b;
    text-transform: uppercase;
    line-height: 1.3;
}
.contact-8a{
    margin-bottom: 0;
    font-size: 23px;
    color: #666;
    margin: 0 0 12px;
}
.contact-info{
    margin-bottom: 10px;
    margin-top: 0;
    font-family: Muli, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2b2b2b;
    text-transform: uppercase;
    line-height: 1.3;
}
.contact-social{
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
}
.contact-face:hover{
    color: #f86d72;
}
.contact-line{
    margin-left: 0;
    display: inline-block;
    text-align: center;
    margin: 0 17px;

}
.contact-ant{
    margin-bottom: 0;
    font-size: 0;
    color: #2b2b2b;
    text-decoration: none;
    background: 0 0;
}
.contact-face{
    margin-bottom: 0;
    font-size: 15px;
    color: #666;
    font-family: ElegantIcons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.contact-column2{
    /* padding-left: 0;
    padding-right: 0; */
    padding-top: 65%;
    width: 67%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    left: 500px;
}
.contact-inner2{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.contact-wbp1{
}
.contact-gmaps{
    margin-bottom: 0;
}
.contact-map-wrapper{
}
.contact-imager-map{
    /* border: 0px;
    pointer-events: none;
    margin-bottom: 0; */
    padding: 0;
    /* display: block; */
    width: 100%;
    height: 630px;

}
.contact-true-row{
   
    padding-left: 230px;
    transition: opacity .5s ease;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    width: 85%;
    height: 645px;
    /* margin: 125px; */
    padding-top: 50px;

}
.contact-sm-9{
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    width:65% ;
    height:580px ;
}
.contact-vc-column{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.contact-wbpp{
}
.contact-style{
    text-align: justify;
    font-size: 20px;
    font-family: Muli, sans-serif;
    color: #2b2b2b;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    font-weight: 700;
    line-height: 1.3;
    right: 11px;

}
.contact-wpcf{

}
.contact-form{
width: 115%;
height: 377px;
}
.contact-us-form{
    margin-top: 45px;
    position: relative;
}
.contact-roww{
    margin-left: -15px;
    margin-right: -15px;
    height: 310px;
    display: flex;
} 
 .contact-form-required{
    width: 33.33333%;
    /* float: left;  */
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    right: 13px;
} 
.contact-mes{
    margin-top: -250px;

}
 .contact-pp{
    margin-bottom: 0;
    margin: 0;
    display: contents;
} 
 .contact-control{
    display: block;
    position: relative;

} 
 .contact-input{
    height: 45px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px 15px;
    font-weight: 300;
    background: #f5f5f5;
    border: none;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
} 
.contact-wpc8{
    display: block;
    position: relative;
    padding-right: 28px;
    margin: -12px;
}
.contact-textarea{
    width: 100%;
    max-height: 233px;
    margin-bottom: 23px;
    padding: 10px 15px;
    font-weight: 300;
    background: #f5f5f5;
    border: none;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    overflow: auto;
    olor: inherit;
    font: inherit;
    margin: -12px;
    height: 240px;
    margin-top: 28px;

}
.contact-submit{
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 75px;
    color: #fff;
    background: #f86d72;
    border: none;
    transition: all .3s ease;
    -webkit-appearance: button;
    cursor: pointer;
    font: inherit;
    margin-top: 50px;
}
.contact-success{
    margin-right: 72%;
    color: green;
    margin-top: -45px;
}

.contact-error{
    margin-right: 72%;
    color: red;
    margin-top: -45px;   
    width: 30%;
}



