.join-row{
    height: 196.8px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}
.join-container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .join-container{
        width: 100%;
        float: left;
    }
}
.join-column-inner{
    box-sizing: border-box;
    padding-left: 15px;
    padding: 15px;
    width: 100%;
}
.join-p7465{
    height: 166.8px;
}
.join-form{

}
.join-wpbingo{
    text-align: center;
    position: relative;
    background-color: transparent;
    z-index: 1;
    bottom: 55px;
}
.join-title{
    font-size: 35px;
    font-weight: 700;
    color: #2b2b2b;
    font-family: Merriweather, serif;
    margin-bottom: 15px;
    height: 44.8px;
    line-height: 1.6;
}
.join-the{
    margin: 0;
    display: contents;
}
.join-sub-title{
    color: #666;
    margin-bottom: 43px;
    text-align: center;
    font-family: Muli, sans-serif;
}
.join-content{
    display: block;
    max-width: 470px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    text-align: left;
    background: #f5f5f5;
}
.join-control{
    position: relative;
}
.join-form-control{
    outline: none;
    height: 50px;
    line-height: 50px;
    border: 0;
    background: 0 0;
    font-weight: 300;
    width: 100%;
    padding: 0 25px;
    direction: ltr;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
}
.join-cleartfix{
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
}
.join-cleartfix::before{
    display: table;
}
.join-before{
    position: absolute;
    top: 13px;
    color: #2b2b2b;
    right: 0;
    font-size: 24px;
    z-index: -1;
    cursor: pointer;
}
.join-submit{
    height: 50px;
    line-height: 50px;
    font-size: 0;
    background: 0 0;
    border: 0;
    padding: 0 10px;
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    font-family: inherit;
    font: inherit;
    margin: 0;
    display: none;
}