.author-main{
    width: 100%;
    height: 1555.88px;
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
}
.author-title{
  background-image: url(https://wpbingosite.com/wordpress/bootin/wp-content/uploads/2019/05/Breadcumd.jpg);
  margin: 0 0 25px;
  font-size: 20px;
  background-position: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
}
.author-product{

}
.author-title{
    height: 88.3px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    width: 100%;
    /* text-align: center; */
}
.author-product{
    width: 100%;
    height: 45.5px;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px;
    color: #2b2b2b;
    font-weight: 700;
    font-family: Merriweather, serif;
    line-height: 1.3;
    display: block;
    font-size: 2em;
}

.author-bread{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    color: #f86d72;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    background-color: transparent;
}

.author-a{
    color: #666;
    position: relative;
    background: 0 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}
.author-a:focus{
    text-decoration: none;
}
.author-a:hover{
    text-decoration: none;
    color: #f86d72;
}
.author-delimiter{
    margin: 0 8px;
}
.author-i{
    display: inline-block;
    transform: rotate(17deg);
    box-sizing: border-box;
    color: #666;
}
.author-current{
    color: #f86d72;
    font-size: 18px;
    font-weight: 400;
}


.customer-author-container {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  
  .customer-author-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Increased gap for more spacing */
  }
  
  .customer-author-card {
    text-align: center;
    overflow: hidden;
  }
  
  .customer-author-image-container {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
 
.author-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}
.author-row{
    height: 1107.58px;
    margin-left: -15px;
    margin-right: -15px;
}
.author-col{
    width: 100%;
    height: 1107.58px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.author-content{
    /* height: 1107.58px;
    width: 1470px; */
}
.author-area{
    width: 100%;
    height: 1107.58px;
}
.author-site{
    width: 100%;
    height: 1107.58px;
}
.author-post{
    margin-bottom: -50px !important;
    display: block;
}
.author-entry{
    counter-reset: footnotes;
}
.customer-author-container {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  
  .customer-author-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Increased gap for more spacing */
  }
  
  .customer-author-card {
    text-align: center;
    overflow: hidden;
  }
  
  .customer-author-image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .customer-author-image {
    width: 100%;
    transition: transform 0.8s ease-in-out;
    /*Slowerzoomeffect*/
    -webkit-transition: transform 0.8s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out;
    -o-transition: transform 0.8s ease-in-out;
}
  
  .customer-author-card:hover .customer-author-image {
    transform: scale(1.15); /* Increased zoom scale */
  }
  
  .customer-author-card h2 {
    margin-top: 15px; /* Added margin to space out text */
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: Merriweather, serif;
    color: #2b2b2b;
  }
  .customer-author-card h2:hover{
    color: #f86d72;
  }

  .customer-author-card p {
    margin-top: 10px; /* Added margin to space out text */
    font-family: Merriweather, serif;
    color: #666;
  }
  
  .customer-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .customer-page-item {
    margin: 0 5px;
  }
  
  .customer-page-link {
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  
  .customer-page-item.active .customer-page-link {
    background-color: #f86d72;
    color: #fff;
  }
  .customer-author-product-name{
    font-size: 20px;
    font-weight: 700;
    font-family: Merriweather, serif;
    margin-bottom: 10px;
    color: #2b2b2b;
    text-decoration: none;
  }