.laos-full{
    width: 100%;
    height: 592.2px;
    position: relative;
    left: 15.4px;
    box-sizing: border-box;
    padding-left: 9.6px;
    padding-right: 9.4px;
    transition: opacity .5s ease;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    padding: 105px 0 375px;
    background-color: #f6f3eb !important;
}
.laos-column{
    height: 112.2px;
    width: 25%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
@media (min-width: 768px){
    .laos-column{
        width: 25%;
        float: left;
    }
}
.laos-inner{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 112.2px;
    padding-top: 0px !important;
}
.laos-wpb{
    width: 100%;
    height: 112.2px;
}
.laos-counterup{
    width: 100%;
    text-align: center;
    height: 112.2px;
}
.laos-number{
    height: 64px;
    font-size: 45px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 25px;
}
.laos-title{
    font-family: Muli, sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
    color: #ababab;
    font-weight: 500;
    line-height: 1.3;
}
.laos-vc{
    position: relative;
    bottom: 290px;
    height: 264.4px;
    /* margin-left: -15px; */
    margin-right: -15px;
    margin-bottom: 90px !important;
}
.laos-col{
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .laos-col{
        width: 100%;
        float: left;
    }
}
.laos-vc-inner{
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 40px;
    width: 100%;
    padding-top: 0;
}
.laos-apper{

}
.laos-widget{
    width: 100%;
    height: 529px;
    position: relative;
    /* transform: translateY(-50%); */
    margin-bottom: -18%;
}
.laos-bg-video{

}
.laos-bwp-image{
    position: relative;
}
.laos-bwp-video{
    color: #2b2b2b;
    text-decoration: none;
    background: 0 0;
}
.laos-youtube{
    /* top: 35%; */
    /* color: #f86d72;
    font-size: 70px; */
    z-index: 9;
    position: absolute;
    font-weight: 600;
    top: calc(50% - 38px);
    left: calc(50% - 33.5px);
    transition: all .2s ease;
    line-height: 20px;
    /* background: #fff;
    width: 65px;
    height: 20px; */
}
.laos-videothumb{
    width: 100%;
    height: 529px;
}
.laos-img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;

}
.laos-video-wrapper {
    position: relative;
}

.laos-video-frame {
    display: none;
    margin-top: 20px;
}

.laos-video-wrapper.active .laos-video-frame {
    display: block;
}

.laos-bwp-video {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.laos-youtube {
    /* left: 567px; */
    font-size: 65px;
    color: red;
}

.laos-videothumb {
    position: relative;
}

.laos-videothumb img {
    width: 100%;
    height: auto;
}

.laos-bwp-image {
    text-align: center;
}
/* Laos.css */
.laos-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.laos-modal-content {
    position: relative;
    /* background-color: #fff; */
    padding: 20px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow: auto;
    text-align: center;
}

.laos-close {
    position: absolute;
    top: -10px;
    right: 80px;
    font-size: 24px;
    cursor: pointer;
}

.laos-close:hover {
    color: #aaa;
}
