.footer{
    width: 100%;
    height: 369.4px;
    margin-top: 0;
    background: #f5f5f5;
    padding-top: 75px;
    color: #666;
    font-size: 14px;
    padding-bottom: 0;
    position: relative;
    border-bottom: none;
    line-height: 24px;
    clear: both;
}
.footer-container{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.footer-data{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    /* padding-bottom: 45px; */
    transition: opacity .5s ease;
    overflow: hidden;
}
.footer-padding_1{
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 0;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}
.footer-column{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.footer-title {
    left: 26px;
    text-align: justify;
    font-size: 16px;
    font-family: Merriweather, serif;
    margin-top: 0;
    margin-bottom: 34px;
    text-transform: uppercase;
    color: #2b2b2b;
    position: relative;
    padding-bottom: 18px;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    unicode-bidi: isolate;
}
.footer-text{
    padding-left: 50px;
    margin-bottom: 0;
}
.footer-wpb{
    margin-bottom: 0;
}
.footer-line{
    font-weight: 400;
    position: relative;
    margin-bottom: 18px;
    margin: 0 0 12px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer-map{
    font-size: 25px;
    left: -30px;
    font-family: eleganticons;
    position: absolute;
    top: 11px;
}
.footer-mail{
    right: 15px;
    padding: 0;
    position: relative;
    margin-bottom: 18px;
    margin-top: 0;
}
.footer-email{
    position: absolute;
    left: -15px;
    font-size: 25px;
    top: 12px;
}
.footer-diep{
    list-style: none;
    display: list-item;
    /* text-align: -webkit-match-parent; */
    unicode-bidi: isolate;
    margin-bottom: 0;
}
.footer-out{
    right: 30px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    margin-top: 0;
    box-sizing: border-box;
    display: block;
}
.footer-phone{
    top: 12px;
    font-size: 25px;
    position: absolute;
    left: 0px;

}
.footer-padding_2{
    padding: 0 50px 0 25px;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}
.footer-link{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
    unicode-bidi: isolate;
}
.footer-st{
    margin-bottom: 16px;
    display: list-item;
    /* text-align: -webkit-match-parent; */
    unicode-bidi: isolate;
    list-style-type: none;
    text-align: left;
}
.footer-ss{
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
}
.footer-padding_3{
    padding-right: 5%;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}
.footer-padding_4{
    padding-right: 5%;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}
.footer-slider{
    margin-bottom: 23px;
}
.footer-gram{
    width: 270px;
    height: 89px;
}
.footer-carousel{
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.footer-draggable{
    margin: 0 -5px;
    transform: translateZ(0);
    overflow: hidden;
    padding: 0;
    position: relative;
    display: block;
}
.footer-track {
    opacity: 1;
    width: 1034px;
    height: 89px;
    transform: translate3d(-282px, 0px, 0px);
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}
.footer-image{
    width: 94px;
    padding: 0 7.5px;
    text-align: center;
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
    transform: translateZ(0);
}
.footer-a{
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    text-decoration: none;
    background: 0 0;
}
.footer-img{
    transition: all .3s ease-out;
    display: block;
    transform: translateZ(0);
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.footer-element{
    color: #f86d72;
    margin-bottom: 0;
}
.footer-per{
    margin-bottom: 0;
}
.footer-me{
    text-align: justify;
    margin-bottom: 0;
    margin: 0 0 12px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer-content{
    height: 29.6px;
    margin-bottom: 0;
}
.footer-social{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.footer-to{
    margin-left: 0;
    margin: 0 11px;
    padding-left: 0;
    display: inline-block;
    text-align: center;
    unicode-bidi: isolate;
}
.footer-week{
    font-size: 14px;
    display: inline-block;
    color: #666;
    margin-bottom: 0;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
}
.footer-fluid{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    transition: opacity .5s ease;
    overflow: hidden;
}
.footer-left{
    width: 50%;
    height: 24px;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
.footer-ef{
    color: #f86d72;
    position: relative;
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: none;
    background: 0 0;
}
.footer-right{
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    height: 24px;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    text-align: right;
    left: 40px;
}
.footer-tit{
    border-bottom: 2px solid #f86d72;
    left: 0px;
    text-align: justify;
    font-size: 16px;
    font-family: Merriweather, serif;
    margin-top: 0;
    margin-bottom: 34px;
    text-transform: uppercase;
    color: #2b2b2b;
    position: relative;
    padding-bottom: 18px;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    unicode-bidi: isolate;
}
.footer-le{
    border-bottom: 2px solid #f86d72;
    left: 48px;
    text-align: justify;
    font-size: 16px;
    font-family: Merriweather, serif;
    margin-top: 0;
    margin-bottom: 34px;
    text-transform: uppercase;
    color: #2b2b2b;
    position: relative;
    padding-bottom: 18px;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    unicode-bidi: isolate;
}
.footer-for{
    border-bottom: 2px solid #f86d72;
    left: 48px;
    text-align: justify;
    font-size: 16px;
    font-family: Merriweather, serif;
    margin-top: 0;
    margin-bottom: 34px;
    text-transform: uppercase;
    color: #2b2b2b;
    position: relative;
    padding-bottom: 18px;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    unicode-bidi: isolate;
}
.footer-ss:hover{
    color: #f86d72;
}
.footer-week:hover{
    color: #f86d72;
}
.footer-title{
    border-bottom: 2px solid #f86d72;
}
.footer-bootin{
    margin-left: 30px;
}
.footer-figure{
    margin-right: 77px;
}
