/* PersonalInformation.css */
.btn-container {
    margin-top: 30px;
    margin-bottom: 50px;
    background: #f5f5f5;
    width: 40%;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.btn-container h2{
    margin-top:  25px;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #2b2b2b;
}

.btn-edit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.user-form {
    margin-top: 20px;
}
.content-book{
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
}
.content-book p{
    color: #2b2b2b;
    font-weight: 700;
    text-transform: capitalize;
    padding: 15px;
    font-family: Merriweather, serif;
    border: 1px solid #f5f5f5;
}
.user-list-button-edit{
    color: #fff;
    /* background: #2b2b2b; */
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Merriweather, serif;
    padding: 0 50px;
    line-height: 50px;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    margin-top: 50px;
}